.title {
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
  position: absolute;
  top: 25px;
  left: 50px;
  color: #212121;
}
.blog {
  background-color: #cddc39;
  padding: 100px;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  border: solid #795548;
}
span {
  color: #212121;
}
.post-headers {
  color: #757575;
  font-size: 50px;
  text-align: center;
  margin: 0px;
}
#subheader {
  margin-bottom: 20px;
  font-size: 45px;
}
.post-image {
  border: solid #bdbdbd;
  padding: 400px;
}
.post-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
}
.preview-text {
  font-size: 25px;
  color: #212121;
  font-family: "PT Sans", sans-serif;
}

#city {
  background-image: url(image/mick-haupt-RBNJ5DTvjTc-unsplash.jpg);
  background-position: top;
}
#alphabet {
  background-image: url(image/bernard-hermant--zlKan0Zcrg-unsplash.jpg);
  background-position: 160vh 109vw;
}

#brain {
  background-image: url(image/fakurian-design-58Z17lnVS4U-unsplash.jpg);
  background-position: center;
}
body {
  background-color: #afb42b;
  font-family: "Lato", sans-serif;
}
