.title {
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
}
.blog {
  background-color: chartreuse;
  padding: 100px;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  border: solid crimson;
  text-align: center;
}
span {
  color: aqua;
}
.post-headers {
  color: blueviolet;
}
.post-image {
  border: solid coral;
  padding: 350px;
  background-position: top;
}
#city {
  background-image: url(image/mick-haupt-RBNJ5DTvjTc-unsplash.jpg);
}
#alphabet {
}

#brain {
}
body {
  background-color: burlywood;
  font-family: "Lato", sans-serif;
}
